@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,400&display=swap');

body {
  background-color: #282c34;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.bg-body {
  background-color: #282c34 !important;
}

.bg-extradark {
  background-color: #0c0c0c;
}

.accordion-button {
  background-color: #0c0c0c !important;
  color: white !important;  
}

.accordion-button::after {
  filter: invert(100%) sepia(79%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}

h1 {
  font-weight: 900;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .px-md-25 {
    padding-left: 25% !important;
    padding-right: 25% !important;
  }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { }