@page "/"
@using RiotSharp.Misc

<PageTitle>Search</PageTitle>

<div class="d-flex justify-content-center align-items-center min-vh-88">
    <div class="w-100">
        <form @onsubmit="HandleSubmitAsync" class="row w-100" OnValidSubmit="HandleValidSubmitAsync">
            <div class="col-8">
                <input class="form-control me-2" type="search" placeholder="Your summoner name" aria-label="Search" @bind-value="_querySummonerName" />
            </div>

            <div class="col-2">
                <select class="form-select" aria-label="Default select example" @onchange="OnChangeSummonerRegion">

                    <option selected>Region</option>

                    @foreach (var region in (Region[])Enum.GetValues(typeof(Region)))
                    {
                        <option value="@((int)region)">@region.ToString()</option>
                    }
                </select>
            </div>

            <div class="col-1">
                <button class="btn btn-light" type="submit">Search</button>
            </div>
        </form>

        @if (_summoner is not null)
        {
            <h1 class="mt-5">Found summoner @_summoner.Name</h1>
            <p>Level: @_summoner.Level</p>
        }
    </div>
</div>