@page "/"

<PageTitle>Search</PageTitle>

<div class="d-flex justify-content-center align-items-center min-vh-88">
    <form class="d-flex w-50">
        <input class="form-control me-2" type="search" placeholder="Your summoner name" aria-label="Search">
        <button class="btn btn-light" type="submit">Search</button>
    </form>
</div>